# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log
# uploads
uploads/

# Environment
.env

# Pytest
.pytest_cache/

# macOS
.DS_Store

# 测试代码
TestCode


# Frontend
frontend/node_modules/
frontend/dist/

# Environment
#.env
#.env.*

# IDE
#.idea/
#.vscode/